<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      h1 {
        color: #d37676;
        font-weight: 500;
        font-size: 40px;
      }
      p {
        color: #358f08;
        font-weight: 300;
        font-size: 32px;
      }
      b {
        color: #679ba0;
      }
    </style>
  </head>
  <body>
    <h1>Hi, Welcome to THE SERVER</h1>
    <p>
      Here are some of the work ideas <br />
      add <b>/student</b> to url to get all Students
    </p>

    <h1>Students List</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Total Marks</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach(student => { %>
        <tr>
          <td><%= student.stdid %></td>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.phone_no %></td>
          <td><%= student.email %></td>
          <td><%= student.total_marks %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
    </ul>
  </body>
</html>
